{% extends "layout.html" %}

{% block content %}
<div class="chat-box">
    <div class="message-box">
        {% if messages %}
        {% for message in messages[1:] %}
            {% if message['role'] == 'user'%}
            <div class="user-message">User: {{message['content']}}</div>
            {% endif %}
            {% if message['role'] == 'assistant'%}
            <div class="chatbot-message">Chatbot: {{message['content']}}</div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <form class="chat-form">
        <input class="input-box" autocomplete="off" required autofocus placeholder="Let's chat">
        <button class="off-btn mic-btn" type="button"><img src="../static/mic.png"></button>
        <button class="off-btn speak-btn" type="button"><img src="../static/speaker.png"></button>
        <input class="send-btn" type="submit" value="Send">
    </form>
</div>
<script>
    var botType = "{{ botType }}";
  </script>
<script src="../static/chatbot.js"></script>
{% endblock %}