<!DOCTYPE html>

<html>
    <head>
        <link href="../static/style.css" rel="stylesheet">
        <title>ChatGPT project</title>
    </head>

    <body>
        <header>
            <div class="site-name">
                <img class="logo" alt="logo-hcmus" src="../static/logo-hcmus.png">
                <div class="name">Computer Network Project</div>
            </div>
            <div class="nav-bar">
                <div class="nav-btn">Chatbot</div>
                <div class="nav-btn">Classification</div>
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>Copyright</footer>
    </body>
</html>